.container {
    width: 100%;
    max-width: 725px;
    margin: 10px auto;
    box-shadow: 1px 4px 5px 2px lightgray;
}

.widget-title {
    padding: 20px;
    background-color: #C6C7A8;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}

.widget-title:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    border-width: 6px 4px 0 4px;
    border-color: green transparent transparent transparent;
    right: 4%;
    top: 50%;
}

.widget-title.active:after {
    border-width: 0 4px 6px 4px;
    border-color: transparent transparent green transparent;

}

.widget-title.active ~ .widget-content {
    display: flex;
    flex-wrap: wrap;
}

.widget-content {
    display: none;
}

.widget-content > div {
    display: flex;
    align-items: center;
}

.widget-content > div p {
    padding: 0 5% 0 0;
    font-size: 13px;
}

.widget-content > div img {
    width: 30%;
}

.widget-control {
    display: flex;
    width: 100%; 
    padding: 10px 20px;
    border-top: 1px solid #EEE;
}

.widget-control .widget-nav {
    position: relative;
    color: green;
    text-decoration: underline;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
}

.widget-control .prev {
    margin-left: 28px;
}

.widget-control .next {
    margin-right: 28px;
}

.widget-control .prev:before,
.widget-control .next:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
}

.widget-control .prev:before {
    border-width: 10px 14px 10px 0;
    border-color: transparent green transparent transparent;
    left: -28px;
}

.widget-control .next:after {
    border-width: 10px 0 10px 14px;
    border-color: transparent transparent transparent green;
    right: -28px;
}

.widget-control .next {
    margin-left: auto;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .container {
        width: 95%;
    }
    .widget-content > div {
        flex-direction: column;
    }
    .widget-content > div img {
        width: 100%;
    }
    .widget-content > div p {
        padding: 0 5%;
    }
    .widget-control {
        flex-direction: column;
    }
    .widget-control .widget-nav {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .widget-control .next {
        margin-left: 0;
    }
}
